/* Colors: 
lavendar - 9381FF
lighter lavendar - B8B8FF
white - F8F7FF
tan - FFEEDD
peach - FFD8BE
*/


* {
    color: #F8F7FF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
}

body {
  background-color: #9381FF;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #F8F7FF;
}

h1 {
  font-size: 1.6em;
}

nav {
  width: 75%;
  display: flex;
  justify-content: space-around;
}

nav a {
  font-size: 1.2em;
  text-decoration: none;
}

nav a:first-child {
  display: none
}


.home {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px;
  align-items: center;
  width: 100%;
}

.home article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  margin-bottom: -40px;
}

.contact-circle {
  border: 1px solid;
  border-radius: 50%;
  height: 10em;
  width:10em ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #B8B8FF;
}

.contact-circle p, .contact-circle img {
  background-color: #B8B8FF;
  color: #F8F7FF
}

.contact-circle img:hover {
  cursor: pointer;

}

.bio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #B8B8FF;
  height: fit-content;
  align-self: center;
  padding: 20px;
  border-radius: 10px;
}

.bio-desc {
  border-right: 1px solid;
  padding:5px; 
  justify-self: center;
}

.bio h3 {
  border-bottom: 1px solid;
  text-align: center;
  width: 70%;
}

.bio li {
  margin: 3px;
}
.bio ul {
  padding: 5px;
  justify-self: center;
}

.exp {
  display: flex;
  flex-direction: column;
}
.exp ul {padding: 0;}

.exp-item {
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  background-color: #F8F7FF;
  color: #9381FF;
}
.exp p {
  color: #9381FF
}

.projects {
  width: 100%;;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: 0;
}

.projects li {
  display: grid;
  margin: 50px 0;
  border-radius: 2px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  border-bottom: 1px solid;
  border-top: 1px solid;

  padding: 5px;
}

.projects img {
  opacity: .7;
  width: 100%;
}

.projects li p {
  margin: 0;
  overflow-y: scroll;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer img {
  width: 48px;
}

@media screen and (min-width: 500px) {
  main {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    max-width: 100%;
  }

  nav a {
    border-radius: 50%;
    text-align: center;
  }

  nav a:first-child {
    display: block
  }

  .home {
    grid-area: 1 / 1 / 2 / 2;
    align-self: flex-end;
    background-color: #FFD8BE;
    width: 75%;
    height: 0;
    padding: 40% 0 35%;
    border-radius: 50%;
  }

  .contact-circle {
    width: 75%;
    height: 0;
    padding: 40% 0 35%;
  }

  .profile {
    height: 250px;
    width: 250px;
  }

  .home article, h2 {
    margin: 50px;
    color: #9381FF
  }

  .bio {
    margin-top: -10em;
    align-self: flex-start;
    width: 75%;
    height: 0;
    padding-bottom: 60%;
    padding-top: 15%;
    border-radius: 50%;
    justify-self: center;
    display: grid; 
    flex-direction: column;
    align-items: center;
  }
  
  .bio-desc {
    padding-right: 25px;
    border-right: none;
    width: 18em;
    height: 18em;
    border-radius: 50%;
    background-color: #FFD8BE;
    justify-self: center;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
  }

  .bio-desc p {
    color: #9381FF;
  }

  .bio-desc h3 {
    color: #9381FF;
    width: 100%;
    font-size: 2em;
    font-weight: 800;
    border-bottom: none;
  }

  .bio ul {
    width: 20.5em;
    height: 20.5em;
    justify-self: center;
    background-color: #9381FF;
    margin: 125px 0 0 -50px;
    border: 1px solid #FFEEDD;
    border-radius: 50%;
    text-align: center;
  }

  .bio ul h3 {
    border-bottom: none;
    text-align: center;
    width: 100%;
  }

  .exp {
    text-align: center;
    align-self: flex-end;
    position: relative;
    margin-top: -10em;
    width: 90%;
    height: 0;
    padding-bottom: 70%;
    padding-top: 20%;
    border-radius: 50%;
    background-color: #FFD8BE;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: flex-start; */
  }

  .exp h3 {
    /* color: #FFD8BE; */
    /* background-color: #B8B8FF;  */
    /* border: ; */
    /* width: 100% */
  }

  .education li, .education li p  {
    background-color: #9381FF;
    color: #F8F7FF
  }

  .jobs li, .jobs li p {
    background-color: #B8B8FF;
    color: #F8F7FF
  }

  .jobs h3 {
    color: #B8B8FF;
    font-size: 1.5em;
    width: 50%;
  }

  .education, .jobs {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .education h3 {
    color: #9381FF;
    font-size: 1.5em;
    width: 50%;
  }

  .exp-item {
    font-weight: 600;
    width: 60%;
    height: 0;
    padding: 25% 10px 35%;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin-right: 0;
  }

  .projects li {
    width: 75%;
    align-self: center;
  }
}